@import './app.css';


html {
    background-color: #F8F8F8;
    color: black;
}

body {
    height: 100vh;
    width: 100%;
}

* {
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    font-family: "Inter", sans-serif;
    outline: none;
}


.defCtr {
    width: 99%;
    max-width: 1392px;
    margin-left: auto;
    margin-right: auto;
} 
.defBtn {
    padding: 15px 32px;
    border-radius: var(--Spacing-xl, 40px);
    background: var(--Base-Base-White, #FFF);
    color: var(--Primary-Primary, #009FF5);
    font-size: 16px;
    font-weight: 500;
    width: fit-content;
    cursor: pointer;
    transition: all .2s ease-in-out;
    &:hover {
        transform: scale(1.05);
    }
    @media (max-width: 576px){
      padding: 13px 28px;
      font-size: 15px;
    }
} 

.secondaryBtn {
    padding: 15px 32px;
    border-radius: 111px;
    background: var(--Base-Base-White, #FFF);
    color: var(--Primary-Primary, #0069FF);
    font-size: 16px;
    font-weight: 500;
    width: fit-content;
    border: 1px solid #CEE4FF;
    cursor: pointer;
    transition: all .2s ease-in-out;
    &:hover {
        transform: scale(1.05);
    }
    @media (max-width: 576px){
      padding: 13px 28px;
      font-size: 15px;
    }
} 

.thirdBtn {
    padding: 17.675px 53.349px;
    border-radius: 35.349px;
    background: #CEE4FF;
    box-shadow: 0px 0px 9.427px 0px #FFF inset;
    color: #0069FF;
    font-size: 16px;
    font-weight: 500;
    width: fit-content;
    border: 3px solid white;
    cursor: pointer;
    transition: all .2s ease-in-out;
    &:hover {
        transform: scale(1.05);
    }
    @media (max-width: 576px){
      padding: 13px 28px;
      font-size: 15px;
    }
} 


h2 {
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 48px */
    @media (max-width: 1024px){
        font-size: 30px;
    }
    @media (max-width: 576px){
        font-size: 28px;
    }
}

h4 {
    font-size: 24px;
    font-weight: 600;
    color: #000;
    @media (max-width: 1024px){
        font-size: 22px;
    }
    @media (max-width: 576px){
        font-size: 20px;
    }
}
h5 {
    font-size: 20px;
    font-weight: 600;
    @media (max-width: 1024px){
        font-size: 18px;
    }
    @media (max-width: 576px){
        font-size: 18px;
    }
}