header {
    position: fixed;
    top: 20px;
    z-index: 100;
    .header_ins {
        border-radius: 2222px;
        background: #FFF;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 17px 14.747px 34px;
        @media (max-width: 576px){
          padding: 15px 34px;
        }
        .logoCtr {
            display: flex;
            align-items: center;
            gap: 20px;
            @media (max-width: 576px){
              :nth-child(2) {
                display: none;
              }
            }
        }
        .links {
            display: flex;
            list-style: none;
            @media (max-width: 576px){
              &.desktop {
                display: none;
              }
            }
            a {
                padding: 15px 22px;
                text-decoration: none;
                color: #646464;
                transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
                @media (max-width: 1150px){
                  padding: 22px 0;
                }
                &:hover {
                  color: #0069FF;
                }
            }
        }
        .iconMenu {
          --gap: 5px;
          --height-bar: 2.5px;
          --pos-y-bar-one: 0;
          --pos-y-bar-three: 0;
          --scale-bar: 1;
          --rotate-bar-one: 0;
          --rotate-bar-three: 0;
          width: 25px;
          transform: scale(0.8);
          display: flex;
          flex-direction: column;
          gap: var(--gap);
          cursor: pointer;
          position: relative;
          .bar {
            position: relative;
            height: var(--height-bar);
            width: 100%;
            border-radius: .5rem;
            background-color: black;
          }
          
          .bar--1 {
            top: var(--pos-y-bar-one);
            transform: rotate(var(--rotate-bar-one));
            transition: top 200ms 100ms, transform 100ms;
          }
          
          .bar--2 {
            transform: scaleX(var(--scale-bar));
            transition: transform 150ms 100ms;
          }
          
          .bar--3 {
            bottom: var(--pos-y-bar-three);
            transform: rotate(var(--rotate-bar-three));
            transition: bottom 200ms 100ms, transform 100ms;
          }
          
          &.active > .bar--1 {
            transition: top 200ms, transform 200ms 100ms;
          }
          
          &.active > .bar--3 {
            transition: bottom 200ms, transform 200ms 100ms;
          }
          
          &.active {
            --pos-y-bar-one: calc(var(--gap) + var(--height-bar));
            --pos-y-bar-three: calc(var(--gap) + var(--height-bar));
            --scale-bar: 0;
            --rotate-bar-one: 45deg;
            --rotate-bar-three: -45deg;
          }
      }
        
    }
  }
  .burgerMobile {
    display: none;
    @media (max-width: 576px){
      display: block;
    }
  }
  .navMobileCtr {
    display: none;
    background-color: #F8F8F8;
    z-index: 30;
    padding-top: 150px;
    &.active {
      display: block;
    }
    .links {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 20px;
      a {
        color: #646464;
        font-size: 20px;
        font-weight: 500;
      }
    }
  }

.sliderSection {
    margin-top: 140px;
    height: 636px;
    padding: var(--Radius-Sharp, 0px) 118px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    @media (max-width: 576px){
      padding: 10px !important;
      border-radius: 20px !important;
    }
    .info {
        display: flex;
        color: white;
        width: 100%;
        max-width: 1156px;
        .infoCtr {
            display: flex;   
            justify-content: end;
            align-items: center;
            .texts {
                width: 100%;
                max-width: 825px;
            }
            @media (max-width: 576px){
                flex-direction: column;
            }
            img {
                width: 100%;
                max-width: 285px;
            }
        }
        h1 {
            font-size: 42px;
            margin-bottom: 40px;
            @media (max-width: 576px){
                font-size: 32px !important;
            }
        }

    }
    .bgImages {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        z-index: -1;
        right: 0;
        .bgImage {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
    }
}

.cursSlide {
  .slide {
    background-position: center;
    border-radius: 30px;
    padding: 30px 10px;
    .path {
      display: inline-flex;
      padding: 8px 18px;
      justify-content: center;
      align-items: center;
      gap: 12px;
      border-radius: 10px;
      background: #FFF;
    }
    .mainInfo {
      color: white;
      width: 100%;
      max-width: 507px;
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .rateInfo {
        display: flex;
        gap: 8px;
        align-items: center;
        span {
          color: #FFAD41;
          font-weight: 700;
          font-size: 16px;
        }
        .stars {
          display: flex;
          width: 120px;
        }
      }
      .tutorLangInfo {
        img {
          width: 24px;
        }
        .tutorName {
          font-size: 14px;
          color: var(--Primary-Primary, #009FF5);
          text-decoration-line: underline;
          text-decoration-style: solid;
          text-decoration-skip-ink: none;
          text-decoration-thickness: auto;
          text-underline-offset: auto;
          text-underline-position: from-font;
        }
      }
    }
    .info-cards {
      display: flex;
      gap: 8px;
      margin-top: 51px;
      align-items: center;
      .infoCard {
        display: flex;
        padding: 14px 14px 14px 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        width: 100%;
        max-width: 286px;
        border-radius: 24px;
        height: 124px;
        background: #FFF;
      }
    }
  }
}

.progressContainer {
    display: flex;
    gap: 5px;
    justify-content: center;
    position: absolute;
    bottom: 14px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .progressSegment {
    width: 100px; /* Ширина сегмента */
    height: 5px;
    background-color: #6E7586; /* Цвет для незаполненной части */
    cursor: pointer;
    position: relative;
    border-radius: 20px;
    @media (max-width: 576px){
        width: 60px;
    }
  }
  
  .progressBar {
    border-radius: 20px;
    height: 100%;
    background-color: #ffffffa6; /* Цвет прогресс-линии (заполняется) */
    position: absolute;
    top: 0;
    cursor: pointer;
    left: 0;
  }
  

  .slider-container {
    width: 100%; /* Контейнер занимает всю ширину */
    overflow: hidden; /* Скрыть содержимое за границами */
  }
  
  .slide img {
    width: 100%; /* Адаптивное изображение */
    height: auto;
  }

  @media (min-width: 576px) and (max-width: 767px) {
    .sliderSection {
        padding: var(--Radius-Sharp, 0px) 18px;
    }
}


.services {
    .cards {
        display: flex;
        align-items: flex-end;
        gap: 24px;
        align-self: stretch;
        @media (max-width: 1024px){
            flex-wrap: wrap;
        }
        .card {
            width: 45%;
            max-width: 330px;
            height: 364px;
            border-radius: 20px;
            background: linear-gradient(39deg, rgba(255, 255, 255, 0.00) 52.45%, rgba(0, 105, 255, 0.20) 94.48%), #FFF;
            padding: 34px 25px;
            @media (max-width: 576px){
              padding: 25px 20px;
              height: 270px;
            }
            img {
                width: 60px;
                @media (max-width: 576px){
                    width: 44px;
                }
            }
            p {
                font-size: 18px;
                color: #BAAFAF;
                font-weight: 400;
                @media (max-width: 576px){
                    font-size: 16px;
                }
            }
        } 
    }
}

.bannerParagraph {
    padding: 34px 157px 34px 34px;
    border-radius: 20px;
    background: linear-gradient(105deg, rgba(255, 255, 255, 0.00) -24.35%, rgba(5, 82, 24, 0.2) 88.81%), #FFF;
    width: 100%;
    color: #0A5906;
    font-size: 20px;
    font-weight: 500;
    @media (max-width: 1024px){
      padding: 34px;
    }
}

.imgInfo {
  align-items: stretch !important;
  @media (max-width: 768px){
    flex-direction: column;
    gap: 34px;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    img {
      width: 100%;
      max-width: 100%;
    }
  }
  .info {
    display: flex;
    max-width: 802px;
    width: 100%;
    padding: 18.5px 25px 17.5px 25px;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    border-radius: 20px;
    background: #FFF;
    .text {
      
      p {
        font-size: 18px;
        color: #666;
        line-height: 150%; /* 27px */
        font-weight: 500;
      }
      ul {
        list-style: inside;
        line-height: 150%; /* 27px */
        color: #666;
        li {
          color: #666;
          line-height: 150%; /* 27px */
          list-style: inside;
        }
      }
    }
  }
}

.acceptingCtr {
  background-image: url('/image 27.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  h4 {
    color: white;
  }
  p {
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%; /* 27px */
  }
  ul {
    list-style: inside;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    li {
      list-style: inside;
    }
  }
}

.acceptingCtr2 {
  background-image: url('/image 65.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  .text {
    line-height: 150%;
  }
  h4 {
    line-height: 150%;
    color: white;
  }
  p {
    line-height: 150%;
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%; /* 27px */
  }
  ul {
    line-height: 150%;
    list-style: inside;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    li {
      list-style: inside;
    }
  }
}

.acceptingCtr3 {
  background-image: url('/image 66.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  .text {
    line-height: 150%;
  }
  h4 {
    line-height: 150%;
    color: white;
  }
  p {
    line-height: 150%;
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%; /* 27px */
  }
  ul {
    line-height: 150%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    li {
      list-style: none;
    }
  }
}

.consultBanner {
  background-image: url('/Rectangle.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  @media (max-width: 576px){
      flex-direction: column;
      gap: 20px;
      padding: 22px;
  }
  h2 {
    color: white;
    width: 100%;
    max-width: 541px;
  }
}

.paddonBanner {
  background-image: url('/Rectangle1.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  h2 {
    color: white;
    width: 100%;
    max-width: 541px;
    @media (max-width: 1024px){
      font-size: 30px;
    }
    @media (max-width: 576px){
        font-size: 28px;
    }
  }
  button.thirdBtn {
    padding: 17px 70px;
    @media (max-width: 576px){
        padding: 15px 35px;
    }

  }
}

.boxBanner {
  background-image: url('/Rectangle2.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  h2 {
    color: #0069FF;
    width: 100%;
    max-width: 541px;
  }
  button.thirdBtn {
    padding: 17px 70px;
    @media (max-width: 576px){
        padding: 15px 35px;
    }
  }
}

footer {
  position: relative;
  margin-top: 222px;
  border-radius: 40px 40px 0px 0px;
  border: 3px solid #CEE4FF;
  padding: 137px 172px 154.747px 161px;
  @media (max-width: 1000px){
    padding: 140px 25px 30px;
  }

  .footerIsland {
    border-radius: 20px;
    border: 3px solid #CEE4FF;
    background: #F8F8F8;
    box-shadow: 0px 4px 50px 0px rgba(28, 121, 254, 0.31);
    align-items: center;
    position: absolute;
    top: -72px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 70px;
    @media (max-width: 1000px){
      padding: 20px 25px;
      width: 80%;
      flex-wrap: wrap;
      gap: 50px;
    }
    @media (max-width: 576px){
      width: 100%;
      top: -90px;
      gap: 20px;
      padding: 10px 15px;
    }
    a {
      color: black;
      @media (max-width: 576px){
        width: 40%;
      }
    }
    .linkCtr {
      display: flex;
      align-items: center;
      gap: 22px;
      @media (max-width: 576px){
          gap: 10px;
          img {
            width: 20px;
          }
          .text  {
            :nth-child(1) {
              font-size: 18px;
            }
            :nth-child(2) {
              font-size: 14px;
            }
          }
      }
    }
  }
  .footerIns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 576px){
      flex-direction: column;
      gap: 30px;
    }
    .info {
      @media (max-width: 576px){
        align-items: center;
      }
      p {
        font-size: 18px;
        font-weight: 400;
        @media (max-width: 576px){
          text-align: center;
          font-size: 16px;
        }
      }
    }
    .links {
      display: flex;
      align-items: flex-start;
      gap: 80px;
      @media (max-width: 576px){
          gap: 20px;
      }
      .linksCtr {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        .title {
          font-size: 24px;
          font-weight: 400;
        }
        .linksIns {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 10px;
          a {
            color: #000;
            font-size: 16px;
            font-weight: 400;
            transition: all .2s ease-in-out;
            &:hover {
              color: #0069FF;
            }
          }
        }
      }
    }
  }
}
.bannersMainPage {
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.feedbacks {
  flex-wrap: wrap;
  @media (max-width: 576px){
      gap: 20px;
  }
  .feedbackCard  {
    @media (max-width: 576px){
      height: 270px;
      .imgCtr, 
      .info {
        padding-inline: 20px;
      }
        img.back {
          display: none;
        }
    }
  }
}

.banner {
  width: 100%;
  border-radius: 40px;
  background: #E3E2E2;  
  height: 362px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 40px;
  margin-top: 148px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-direction: column;
  h1 {
    color: white;
  }
  @media (max-width: 576px){
    gap: 20px;
  }
}

@media (max-width: 576px){
  .boxCtr  {
    flex-direction: column;
    .info  {
      flex-direction: column;
    }
  }
}

.aboutUsPage {
  .aboutUsCtr1 {
    margin-top: 60px;
    border-radius: 20px;
    background: #FFF;
    padding: 31px 27px 44px 27px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    @media (max-width: 576px){
      flex-direction: column;
    }
    .info {
      display: flex;
      gap: 50px;
      @media (max-width: 576px){
          flex-direction: column;
      }
      p {
        width: 100%;
        max-width: 621px;
        color: #666;
        font-size: 18px;
        font-weight: 500;
        line-height: 150%; /* 27px */
        @media (max-width: 576px){
            font-size: 16px;
        }
      }
    }
  }
  .aboutUsCtr2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    align-self: stretch;
    @media (max-width: 576px){
      flex-direction: column;
    }
    img {
      width: 100%;
      max-width: 565px;
      border-radius: 20px;
    }
    .info {
      border-radius: 20px;
      background: #FFF;
      display: flex;
      max-width: 802px;
      padding: 35.5px 25px 34.5px 25px;
      flex-direction: column;
      gap: 40px;
      p {
        color: #666;
        font-size: 18px;
        font-weight: 500;
        line-height: 150%; /* 27px */
        @media (max-width: 576px){
          font-size: 16px;
        }
      }
    }
  }
  .aboutUsCtr3 {
    margin-top: 60px;
    @media (max-width: 576px){
      flex-direction: column;
    }
    img {
      border-radius: 20px;
    }
    .info {
      width: 100%;
      max-width: 802px;
      padding: 37.5px 25px 36.5px 25px;
      border-radius: 20px;
      background: #FFF;
      p {
        color: #666;
        font-size: 18px;
        font-weight: 500;
        line-height: 150%; /* 27px */
        @media (max-width: 576px){
          font-size: 16px;
        }
      }
    }
  }
}

.contactsPage {
  margin-top: 148px;
  display: flex;
  gap: 24px;
  @media (max-width: 576px){
      flex-direction: column;
  }
  .info {
    border-radius: 20px;
    background: #FFF;
    width: 100%;
    max-width: 566px;
    padding: 36px 29px;
    p {
      color: #707070;
      font-size: 16px;
      line-height: 150%; /* 24px */
      font-weight: 500;
    }
    a {
      color: #5371FF;
      line-height: 150%; /* 24px */
    }
  }
  iframe {
    width: 100% !important;
    max-width: 802px;
    height: 751px;
    border-radius: 20px;
    overflow: hidden;
    @media (max-width: 576px){
        height: 450px !important;
    }
  }
}

.popup {
  backdrop-filter: blur(5px);
  z-index: 2000;
  .popupIns {
    width: 100%;
    padding: 38px;
    max-width: 753px;
    height: fit-content;
    flex-shrink: 0;
    border-radius: 40px;
    background: #FFF;
    input, 
    textarea {
      padding: 11.26px 10px 9.74px 22px;
      border-radius: 20px;
      border: 1px solid #B8B8B8;
      color: black;
      font-size: 18px;
      font-weight: 500;
      &::placeholder {
        color: #ABABAB;
      }
    }
    textarea {
      height: 100px;
    }
    .closeBtn {
      background: transparent;
      border: none;
      outline: none;
      font-size: 30px;
      transform: scale(1.6);
      cursor: pointer;
    }
    form {

      button {
        color: #FFF;
        display: flex;
        padding: 10px 52px 11px 52px;
        justify-content: center;
        align-items: center;
        border-radius: 111px;
        cursor: pointer;
        background: #0069FF;
        font-size: 14px;
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      input[type=number] {
        -moz-appearance: textfield;
      }
    }
  }
}